@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');

:root {
  //COLOR PALLETE

  //STATIC
  --white: #fafafa;
  --lighter-purple: #d0d3ff;
  --light-purple: #abace3;
  --violet: rgb(118, 121, 250);
  --purple: #4b4ce5;

  //GRADIENT
  --gradient: linear-gradient(
    36deg,
    rgba(118, 121, 250, 1) 0%,
    rgba(169, 166, 247, 1) 33%,
    rgba(236, 237, 255, 1) 100%
  );

  //BOX SHADOW

  //FONT FAMILY
  --primary-font: 'Merriweather', sans-serif;

  //FONT BASED ON 16px
  --h1: 2rem; //150px;
  --large-title: 6rem;
  --primary-subheading: 1.7rem; //28px;
  --secondary-subheading: 0.7rem; //14px;
  --text: 0.9rem; //16rem;
  --body: 1.125rem; //18rem
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;

  margin: 0;
  padding: 0;
}
