@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap');

:root {
  //COLOR PALLETE
  --green: #219c90;
  --white: #f3f3f3;
  --yellow: #e9b824;
  --orange: #ee9322;
  --red: #d83f31;

  //FONT FAMILY
  --primary-font: 'Merriweather', sans-serif;

  //FONT BASED ON 16px
  --h1: 2rem; //150px;
  --large-title: 8rem;
  --primary-subheading: 1.7rem; //28px;
  --secondary-subheading: 0.875rem; //14px;
  --nav-text: 1remt; //16rem;
  --body: 1.125rem; //18rem
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;

  margin: 0;
  padding: 0;
}
